GEMINI_API_KEY=your_GEMINI_API_KEY_here
POSTGRES_URL=postgresql://username:password@localhost:5432/your_database_name
QDRANT_URL=your_quadrant_url_here
QDRANT_COLLECTION=your_quadrant_collection_name_here
PDF_PATH=your_pdf_path_file_here
EMBEDDING_MODEL=your_EMBEDDING_MODEL_here
LLM_MODEL= your_LLM_MODEL_here
CROSS_ENCODER_MODEL=your_CROSS_ENCODERMODEL_here